<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User List</title>
    <link rel="styleSheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="../scripts/vue.js"></script>
    <script type="text/javascript" src="../scripts/axios.js"></script>

</head>
<body>
    <div class="container">
        <h2>Add User</h2>
        <div id="addUser">
            
        </div>
        
    </div>
    <script type="text/javascript">
    
        let vm = new Vue({
            el: "#addUser",
            data: {
            },methods: {

            }
        })
        
    </script>
</body>
</html>