<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User List</title>
    <link rel="styleSheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="../scripts/vue.js"></script>
</head>
<body>
    <div class="container">
        <h6>
            <a href="add.html" class="btn btn-primary">Add User</a>
        </h6>
        <div id="users">
            <user-item :users="userlist"></user-item>
        </div>
        
    </div>
    <script type="text/javascript">
        Vue.component("userItem", {
            data: function() {
                return {
                    headers: ["Username", "Name", "address", "Profession", "Email", "Cell", "Manage"]
                }
            },
            props: ["users"],
            template:`
            <table class="table table-striped table-border">
            <tr>
                <th v-for="item in headers">{{item}}</th>
            </tr>
            <tr :key="item.key" v-for="item in users">
                <td>{{item.username}}</td>
                <td>{{item.first_name + " " + item.last_name}}</td>
                <td>{{item.address}}</td>
                <td>{{item.profession}}<td>
                <td>{{item.email}}</td>
                <td>{{item.cell}}</td>
                <a href= "" @click.prevent="deleteUser(item.id)" class="btn btn-danger btn-xs">Delete</a>
                <a href= "" @click.prevent="modifyUser(item.id)" class="btn btn-success btn-xs">Modify</a>
                </td>
            </tr>
        </table>
            `
        , methods: {
            deleteUser: function(id) {
                this.$emit('delete-user', id)
            },
            modifyUser: function(id) {
                this.$emit('modify-user', id)
            }
        }
    })

    let vm = new Vue({
        el: "#users",
        data: {
            userlist: []
        },methods: {
            getAll: function() {
                fetch("https://localhost:5001/api/user", {
                method: 'get'
                }).then(data => {
                    return data.text()
                }).then(all => {
                    console.log(all)
                }).catch(error => {
                    console.log(error)
                })
            }
        },
        mounted: function() {
            // users
            this.getAll()
        }
    })
       
    </script>
</body>
</html>