<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="calculator">
        <form>
            <div>
                <label>Number A:
                    <input type="text" v-model="numberA">
                </label>
            </div>
            <div>
                <label>Number B:
                    <input type="text" @keyup.enter="addUp" v-model="numberB">
                </label>
            </div>
            <button @click="addUp">Add</button>
        </form>
        <div v-text>
            Result: {{addUpResult}}
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: "#calculator",
            data: {
                numberA: "",
                numberB: "",
                addUpResult:0
            }, methods: {
                addUp: function() {
                    addUpResult = Number(numberB) + Number(numberA)
                }
            }
        })
        
    </script>
</body>
</html>