<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <script src="./js/template-web.js"></script>
    <script src="./js/ajax.js"></script>
    <script src="./js/vue.js"></script>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <form>
            <div>
                <label>UserName:
                    <input type="text" @keyup="handleSubmit" v-model="uname">
                </label>
            </div>
            <div>
                <label>Passord:
                    <input type="text" @keyup.enter="handleSubmit" v-model="pwd">
                </label>
            </div>
            <button @click="handleSubmit">Submit</button>
        </form>
    </div>
    <script>
        Vue.config.keyCodes.aaa = 65
        var vm = new Vue({
            el: "#app",
            data: {
                uname: "",
                pwd: ""
            }, methods: {
                handleSubmit: function(event) {
                    console.log(event.keyCode)
                }
            }
        })
        
    </script>
</body>
</html>